* {
    margin: 1;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    user-select: none;
}

header h1 {
    font-size: 34px;
}

/* body {
    background-image: url('/static/img/sub.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    height: fit-content;
}

.container h1, li {
    color: black;
    text-align: center;
    font-size: 26px;
    user-select: none;
    padding-top: 2em;
}

.container li {
    list-style: none;
    font-weight: bolder;
}

.plan {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: rgba(216, 216, 216, 0.808);
    border-radius: 2em;
}

#basic, #pro, #premium {
    width: 50%;
    height: 20vh;
    border-radius: 1em;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

#basic {
    background-color: rgba(20, 163, 39, 0.568);
}

#pro {
    background-color: rgba(255, 0, 0, 0.555);
}

#premium {
    background-color: rgba(201, 186, 47, 0.589);
}

.plan:hover{
    transform: scale(1.02);
}